# Vagrant
prod-dev-test/.vagrant/
Esercizio2/vagrant/.vagrant
Esercizio2/vagrant/vagrant.err
Esercizio2/vagrant/vagrant.out

# macOS
.DS_Store

# Ansible
*.retry

# SSH private keys
*.pem
*.key
id_rsa
id_ed25519
